<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  {% include analytics.html %}
  {% include head.html %}

  <body>

   <div class="navbar ">
    
    <div class="container content">
        <div class="masthead">
        <div class="masthead-title">
          <img src="/public/startup.png" alt="some_text" id="logo">
           <a href="/" title="Home" id="title">{{ site.title  }}</a> 
              <div class="navbar-ele">
              {% for page in site.pages_list %}
                &nbsp;&nbsp;&nbsp;
                
              <a href="{{ page[1]  }}">{{ page[0] }}</a>
            {% endfor %}
            </div>
        </div>
      </div>
       </div>
  </div>

    <div class="container content">
      {{ content }}

       {% include comments.html %}
      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}.
        </p>
      </div>
    </div>

  </body>
</html>
